body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2em;
}

h1 {
  color: #3f51b5;
}

.text-center {
  text-align: center;
}

.square {
  color: #fff;
  display: inline-block;
  margin: 4px;
  background-color: tomato;
  width: 200px;
  height: 200px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
