body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  color: #3f51b5;
}

p {
  font-size: 1.2em;
}

article::first-letter {
  font-size: 2em;
  font-weight: bold;
}
